<nav id ="app-specific" class="ui menu stackable massive secondary pointing menu">
  <a class="item <%= path === "/" && "active"  %>" href="/">HOME</a>
  <a class="item <%= path === "/up_activities" && "active"  %>" href="/up_activities">UPCOMING ACTIVITIES</a>
  <a  class="item <%= path === "/new_activity" && "active"  %>" href="/new_activity">START NEW ACTIVITY</a>
  <a  class="item <%= path === "/contact" && "active"  %>" href="/contact">CONTACT</a>
  <a  class="item <%= path === "/about" && "active"  %>" href="/about">ABOUT</a>
  <a  class="item <%= path === "/login" && "active"  %>" href="/login">LOGIN</a>
  <a  class="item <%= path === "/register" && "active"  %>" href="/register">REGISTER</a>
</nav>
